<div class="main-div">
  <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet" />

  <h4>Receipt Entry</h4>

  <h4>{{ CustId.customer_name }}</h4>
  <form #FormName="ngForm">
    <div id="form1">
      <div>
        <label for="amount_receivable"> Amount Receivable </label>
        <input
          id="amount_receivable"
          type="number"
          value="{{ CustId.amount_receivable }}"
          readonly
        />
      </div>

      <div>
        <label for="received_date"> Received Date </label>
        <input
          id="received_date"
          type="date"
          [(ngModel)]="received_date"
          name="received_date"
        />
      </div>

      <div>
        <label for="amount_received"> Amount Received </label>
        <input
          [(ngModel)]="amountReceived"
          id="amount_received"
          type="number"
          name="amount_received"
          (change)="checkAmt()"
        />
      </div>

      <div>
        <label for="receipt_no"> Include Credits? </label>

        <button (click)="toggleDisplayDivIf()">✔️</button>
        <div *ngIf="isShowDivIf">
          <input
            [(ngModel)]="credVal"
            (change)="updateCredApply()"
            name="updateCred"
            type="number"
            placeholder="credVal"
          />
        </div>
      </div>
    </div>

    <div id="form2">
      <div>
        <label for="receipt_no"> Receipt No </label>
        <input
          id="receipt_no"
          type="number"
          value="{{ CustId.invoices.length + 209 }}"
          readonly
        />
      </div>

      <label for="mode_of_payment">Mode of Payment</label>

      <select
        id="mode_of_payment"
        [(ngModel)]="mode_of_payment"
        name="mode_of_payment"
      >
        <option value="upi">UPI</option>
        <option value="bank_transfer">Bank Transfer</option>
        <option value="cheque">Cheque</option>
      </select>

      <div>
        <label for="transaction_id"> Payment Transaction ID </label>
        <input
          id="transaction_id"
          type="number"
          [(ngModel)]="transaction_id"
          name="transaction_id"
        />
      </div>

      <label for="deposit_to">Deposit To</label>

      <select id="deposit_to" [(ngModel)]="deposit_to" name="deposit_to">
        <option value="american_bank">American Bank</option>
        <option value="hsbc">HSBC</option>
        <option value="shanghai_bank">Shanghai Bank</option>
        <option value="british_finance_bank">British Finance Bank</option>
      </select>
    </div>
  </form>

  <!-- <p>{{ CustId.invoice }}</p> -->
  <br />
  <br />
  <br />

  <!-- <input [(ngModel)]="searchInvoice" placeholder="search here"> -->

  <table class="table table-bordered border-primary" id="table1">
    <thead>
      <tr>
        <th style="width: 5%"></th>
        <th>Invoice No</th>
        <th>Date</th>
        <th>Invoice Amount</th>
        <th>Actual Due</th>
        <th>Amount Received</th>
        <th>Balance</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of [].constructor(CustIdc.invoices.length);
          let i = index
        "
      >
        <td>
          <input
            type="checkbox"
            [checked]="CustIdc.invoices[i].amount_received != 0"
          />
        </td>
        <td>{{ CustIdc.invoices[i].invoice_no }}</td>
        <td>{{ CustIdc.invoices[i].date }}</td>
        <td>{{ CustIdc.invoices[i].invoice_amount }}</td>
        <td>{{ CustIdc.invoices[i].actual_due }}</td>
        <td>
          <input
            class="inputBox"
            type="number"
            [(ngModel)]="CustIdc.invoices[i].amount_received"
            (change)="changeBal(i)"
          />
        </td>
        <td>
          <p>{{ CustIdc.invoices[i].balance }}</p>
        </td>
        <td>{{ CustIdc.invoices[i].payment_status }}</td>
      </tr>
    </tbody>
  </table>

  <div id="showCase">
    <p>Amount Applicable: {{ CustIdc.amount_receivable }}</p>
    <p>Amount Received: {{ totalAmt }} ( + {{ credVal }} Credits)</p>
    <p>Amount Applied: {{ findSum(false) }}</p>
    <p>Total Due Pending: {{ findSum(true) }}</p>
    <p>Credit Balance: {{ CustIdc.credits }}</p>
  </div>
  <button (click)="saveData()" style="margin-right: -525%">Save</button>
  <button (click)="revertForm()" style="margin-right: -525%">Revert</button>
  <div>
    <div *ngIf="isShowDiv">
      <table
        class="table table-bordered border-primary"
        border="1"
        bordercolor="black"
        id="table2"
      >
        <thead>
          <tr>
            <th>Receipt No</th>
            <th>Amount Received</th>
            <th>Credit Redeemed</th>
            <th>Mode of Payment</th>
            <th>Transaction Id</th>
            <th>Deposit To</th>
            <th>Due Pending</th>
            <th style="width:50%">Invoices</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of [].constructor(CustId.receipts.length);
              let i = index
            "
          >
            <td>{{ CustId.receipts[i].receipt_no }}</td>
            <td>{{ CustId.receipts[i].amount_received }}</td>
            <td>{{ CustId.receipts[i].credit_redeemed }}</td>
            <td>{{ CustId.receipts[i].mode_of_payment }}</td>
            <td>{{ CustId.receipts[i].transaction_id }}</td>
            <td>{{ CustId.receipts[i].deposit_to }}</td>
            <td>{{ CustId.receipts[i].due_pending }}</td>
            <td>
              <table border="1" bordercolor="red">
                <thead>
                  <tr>
                    <th>invoice_no</th>
                    <th>date</th>
                    <th>invoice_amount</th>
                    <th>actual_due</th>
                    <th>amount_received</th>
                    <th>balance</th>
                    <th>payment_status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item1 of [].constructor(
                        CustId.receipts[i].invoices.length
                      );
                      let j = index
                    "
                  >
                    <td>{{ CustId.receipts[i].invoices[j].invoice_no }}</td>
                    <td>{{ CustId.receipts[i].invoices[j].date }}</td>
                    <td>{{ CustId.receipts[i].invoices[j].invoice_amount }}</td>
                    <td>{{ CustId.receipts[i].invoices[j].actual_due }}</td>
                    <td>
                      {{ CustId.receipts[i].invoices[j].amount_received }}
                    </td>
                    <td>{{ CustId.receipts[i].invoices[j].balance }}</td>
                    <td>{{ CustId.receipts[i].invoices[j].payment_status }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
