<div class="main-div">
  <h3>details fill</h3>

  <p>{{ CustId.customer_name }}</p>

  <form #FormName="ngForm">
    <div>
      <label for="amount_receivable"> Amount Receivable </label>
      <input
        id="amount_receivable"
        type="number"
        value="{{ CustId.amount_receivable }}"
        readonly
      />
    </div>

    <div>
      <label for="received_date"> Received Date </label>
      <input id="received_date" type="date" />
    </div>

    <div>
      <label for="amount_received"> Amount Received </label>
      <input
        [(ngModel)]="amountReceived"
        id="amount_received"
        type="number"
        name="amount_received"
        (change)="checkAmt()"
      />
    </div>

    <div>
      <label for="receipt_no"> Receipt No </label>
      <input
        id="receipt_no"
        type="number"
        value="{{ CustId.invoices.length + 209 }}"
        readonly
      />
    </div>

    <div>
      <label for="receipt_no"> Include Credits? </label>

      <button (click)="toggleDisplayDivIf()">✔️</button>
      <div *ngIf="!isShowDivIf">
        <input
          [(ngModel)]="credVal"
          (change)="updateCredApply()"
          name="updateCred"
          type="number"
        />
      </div>
    </div>

    <label for="mode_of_payment">Mode of Payment</label>

    <select id="mode_of_payment">
      <option value="upi">UPI</option>
      <option value="bank_transfer">Bank Transfer</option>
      <option value="cheque">Cheque</option>
    </select>

    <div>
      <label for="transaction_id"> Payment Transaction ID </label>
      <input id="transaction_id" type="number" />
    </div>

    <label for="deposit_to">Deposit To</label>

    <select id="deposit_to">
      <option value="american_bank">American Bank</option>
      <option value="hsbc">HSBC</option>
      <option value="shanghai_bank">Shanghai Bank</option>
      <option value="british_finance_bank">British Finance Bank</option>
    </select>
    <!-- 
    <button class="button" type="submit">Purchase</button> -->
  </form>

  <!-- <p>{{ CustId.invoice }}</p> -->
  <br />
  <br />
  <br />

  <!-- <input [(ngModel)]="searchInvoice" placeholder="search here"> -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>invoice no</th>
        <th>date</th>
        <th>invoice amount</th>
        <th>actual due</th>
        <th>amount received</th>
        <th>balance</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of [].constructor(CustId.invoices.length);
          let i = index
        "
      >
        <td>
          <input
            type="checkbox"
            [checked]="CustId.invoices[i].amount_received != 0"
          />
        </td>
        <td>{{ CustId.invoices[i].invoice_no }}</td>
        <td>{{ CustId.invoices[i].date }}</td>
        <td>{{ CustId.invoices[i].invoice_amount }}</td>
        <td>{{ CustId.invoices[i].actual_due }}</td>
        <td>
          <input
            type="number"
            [(ngModel)]="CustId.invoices[i].amount_received"
            (change)="changeBal(i)"
          />
        </td>
        <td>
          <p>{{ CustId.invoices[i].balance }}</p>
        </td>
        <td>{{ CustId.invoices[i].payment_status }}</td>
      </tr>
    </tbody>
  </table>

  <p>amount received: {{ totalRcvdAmt }}</p>
  <p>amount applicable: {{ CustId.amount_receivable }}</p>
  <p>amount applied: {{ findSum(false) }}</p>
  <p>total due pending: {{ findSum(true) }}</p>
  <p>credits: {{ CustId.credits }}</p>
  <p>credit redeem: {{ credVal }}</p>

  <button (click)="lilnigga()">check</button>
</div>
